<h1>Site#index</h1>
<h2>Lastest Bookmarks</h2>
<table style="width:100%">
	<thead>
		<tr>URL</tr>
	</thead>
	<tbody>
		<% @bookmarks.each do |bookmark| %>
		<tr>
			<td><%= link_to bookmark.title, bookmark.url %></td>
		</tr>
		<% end %>
	</tbody>
</table>
